---
layout: gis
title: Home
---

<div id="splash">
	<h1 id="gis">Debian GIS Pure Blend</h1>
</div>

<p>These pages contain package information for the <b>Debian GIS Pure Blend</b>.</p>

<p>You can find more information on the <a href="http://pkg-grass.alioth.debian.org/">Debian GIS project Alioth website</a>.</p>

