<!DOCTYPE html>
<html>
	<head>
		{% include head.html project_title="Debian Med Pure Blend" page_title=page.title %}
	</head>

	<body>
		{% include header.html project_title="Debian Med Pure Blend" project_short="Med Pure Blend" project_menu="med_menu.html" page_title=page.title %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html team_name="Debian Med Pure Blend" team_mail="debian-med@lists.debian.org" team_archives="https://lists.debian.org/debian-med/" team_irc="debian-med" %}

	</body>
</html>
