<!DOCTYPE html>
<html>
	<head>
		{% include head.html project_title="Debian Template Pure Blend" page_title=page.title %}
	</head>

	<body>
		{% include header.html project_title="Debian Template Pure Blend" project_short="Template Pure Blend" project_menu="template_menu.html" page_title=page.title %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html team_name="Debian Template Team" team_mail="debian-template@lists.debian.org" team_archives="https://lists.debian.org/debian-template/" team_irc="debian-template" %}

	</body>
</html>
