---
layout: template
title: Home
---

<h1>Debian Template Pure Blend</h1>

<p>These pages contain package information for the <b>Debian Template Pure Blend</b>.</p>

<p>This is not a real Debian Pure Blend, it is just a series of template files
for Pure Blends to use when creating their websites.</p>

