<li><a href="/games/">Home</a></li>
<li><a href="/games/tasks/">Tasks</a>
<li><a href="/games/bugs/">Bugs</a></li>
<li><a href="/games/thermometer/">Thermometer</a></li>
<li><a href="/games/maintstats/">Maintainer Stats</a></li>
