---
layout: med
title: Home
---

<div id="splash">
	<h1 id="med">Debian Med Pure Blend</h1>
</div>

<p>These pages contain package information for the <b>Debian Med Pure Blend</b>.</p>

<p>You can find more information on the Debian Med project <a
	href="https://www.debian.org/devel/debian-med/">here</a>. For developer
information, see the <a href="http://wiki.debian.org/DebianMed">Debian Med page
on the wiki</a>.</p>

