---
layout: med
title: Maintainer Statistics
---

<h1>Debian Med Maintainer Statistics</h1>

<p>
<img src="http://blends.debian.net/liststats/authorstat_debian-med.png"
          title="Active writers on debian-med@lists.debian.org"
	       alt="Bar chart of active writers on mailing list">
</p>
<p>
<img src="http://blends.debian.net/liststats/commitstat_debian-med.png"
          title="Commits SVN/Git"
	       alt="Bar chart of Commits to Debian Med repositories obtained via teammetrics project">
</p>
<p>
<img src="http://blends.debian.net/liststats/authorstat_debian-med-packaging.png"
          title="Active writers development list debian-med-packaging@lists.alioth.debian.org"
	       alt="Bar chart of active writers on packaging list">
</p>
<p>
<img src="http://blends.debian.net/liststats/uploaders_debian-med.png"
          title="Uploaders of Debian Med packages"
	       alt="Bar chart of Debian Med uploaders">
</p>
<p>
<img src="http://blends.debian.net/liststats/bugs_debian-med.png"
          title="Bugs closed by Debian Med team members"
	       alt="Bar chart of bugs closed by Debian Med team members">
</p>
<p>
<img src="http://blends.debian.net/liststats/maintainer_per_package_debian-med.png"
          title="Number of maintainers per package"
	       alt="Bar chart of number of maintainers per package">
</p>

<h2>3D Bar chart of dependencies of selected metapackages over different versions in time</h2>
<p>
<img src="/img/debian-med_package_chart.png"
          width="800"
	  title="Debian Med package chart"
	  alt="3D Bar chart of dependencies of selected metapackages over different versions in time">
</p>

